<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nossa Equipe</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="css/Nossa_Equipe.css"/>
<script id="applicationScript" type="text/javascript" src="js/Nossa_Equipe.js"></script>
</head>
<body>
<div id="Nossa_Equipe" class="Nossa_Equipe_Class">
	<svg class="Polgono_11_be" viewBox="0 0 954 821">
		<linearGradient id="Polgono_11_be" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
			<stop offset="0" stop-color="#0053f9" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#00e5ff" stop-opacity="1"></stop>
		</linearGradient>
		<path class="Polgono_11_be_Class" d="M 679.2415771484375 0 C 701.6878662109375 0 722.4387817382813 11.94276523590088 733.7149047851563 31.3510570526123 L 935.6119995117188 378.8510437011719 C 946.9808349609375 398.4188842773438 946.9808349609375 422.5811157226563 935.6119995117188 442.14892578125 L 733.7149658203125 789.64892578125 C 722.4387817382813 809.0572509765625 701.6878662109375 821 679.2415771484375 821 L 274.7583923339844 821 C 252.3121337890625 821 231.5612335205078 809.0572509765625 220.2850494384766 789.64892578125 L 18.38799667358398 442.1488952636719 C 7.019112110137939 422.5810852050781 7.019115447998047 398.4188537597656 18.38800430297852 378.8510131835938 L 220.2851257324219 31.35104560852051 C 231.5613250732422 11.94276237487793 252.3122100830078 0 274.7584533691406 0 Z">
		</path>
	</svg>
	<div onclick="application.goToTargetView(event)" class="Home_Class">
		<span>Home</span>
	</div>
	<div onclick="application.goToTargetView(event)" class="Transtornos_Mentais_Class">
		<span>Transtornos Mentais</span>
	</div>
	<div onclick="application.goToTargetView(event)" class="Doenas_Respiratrias_Class">
		<span>Doenças Respiratórias</span>
	</div>
	<div onclick="application.goToTargetView(event)" class="Doenas_Infecciosas_Class">
		<span>Doenças Infecciosas</span>
	</div>
	<div class="Atendimento_Class">
		<span>Atendimento</span>
	</div>
	<div class="ID11_2222-2222_Class">
		<span>(11) 2222-2222</span>
	</div>
	<div class="healthcareatendimentocom_Class">
		<span>health.care@atendimento.com</span>
	</div>
	<div class="Social_Class">
		<span>Social</span>
	</div>
	<div class="Facebook_Class">
		<span>Facebook</span>
	</div>
	<div class="Instagram_Class">
		<span>Instagram</span>
	</div>
	<div class="Twitter__Class">
		<span>Twitter</span><br>
	</div>
	<div class="Sobre__Class">
		<span>Sobre</span><br>
	</div>
	<div class="Nossa_Equipe_br_Class">
		<span>Nossa Equipe</span>
	</div>
	<div class="Poltica_de_privacidade_Class">
		<span>Política de privacidade</span>
	</div>
	<div class="Termos_de_Uso_Class">
		<span>Termos de Uso</span>
	</div>
	<img class="Instagram_bu_Class" src="img/NossaEquipe/Instagram_bu.png" srcset="img/NossaEquipe/Instagram_bu.png 1x, Instagram_bu@2x.png 2x">
	<img class="Twitter_Class" src="img/NossaEquipe/Twitter.png" srcset="img/NossaEquipe/Twitter.png 1x, Twitter@2x.png 2x">
	<img class="facebook_Class" src="img/NossaEquipe/facebook.png" srcset="img/NossaEquipe/facebook.png 1x, facebook@2x.png 2x">
	<div class="_2020_HealthCare_Todos_os_dire_Class">
		<span>© 2020 HealthCare<br/>Todos os direitos reservados<br/> </span>
	</div>
	<img class="Imagem_2_Class" src="img/NossaEquipe/Imagem_2.png" srcset="img/NossaEquipe/Imagem_2.png 1x, Imagem_2@2x.png 2x">
	<div class="Nossa_Equipe_bz_Class">
		<span>Nossa Equipe</span>
	</div>
	<svg class="Retngulo_102">
		<rect class="Retngulo_102_Class" rx="54" ry="54" x="0" y="0" width="506" height="337">
		</rect>
	</svg>
	<svg class="Retngulo_103">
		<rect class="Retngulo_103_Class" rx="54" ry="54" x="0" y="0" width="552" height="321">
		</rect>
	</svg>
	<svg class="Retngulo_104">
		<rect class="Retngulo_104_Class" rx="54" ry="54" x="0" y="0" width="481" height="284">
		</rect>
	</svg>
	<svg class="Retngulo_105">
		<rect class="Retngulo_105_Class" rx="54" ry="54" x="0" y="0" width="481" height="284">
		</rect>
	</svg>
	<svg class="Caminho_40" viewBox="12141 4671.458 596.7 694.134">
		<path class="Caminho_40_Class" d="M 12141 4847.78125 L 12420.6142578125 4671.45751953125 L 12737.7001953125 4910.275390625 L 12475.5458984375 5365.591796875 L 12457.21484375 5033.0322265625 L 12141 4847.78125 Z">
		</path>
	</svg>
	<svg class="Elipse_251">
		<ellipse class="Elipse_251_Class" rx="59.5" ry="58" cx="59.5" cy="58">
		</ellipse>
	</svg>
	<img class="Grupo_de_mscara_51_Class" src="img/NossaEquipe/Grupo_de_mscara_51.png" srcset="img/NossaEquipe/Grupo_de_mscara_51.png 1x, Grupo_de_mscara_51@2x.png 2x">
	</svg>
	<svg class="Elipse_252">
		<ellipse class="Elipse_252_Class" rx="59.5" ry="58" cx="59.5" cy="58">
		</ellipse>
	</svg>
	<svg class="Elipse_253">
		<ellipse class="Elipse_253_Class" rx="59.5" ry="58" cx="59.5" cy="58">
		</ellipse>
	</svg>
	<svg class="Elipse_254">
		<ellipse class="Elipse_254_Class" rx="59.5" ry="58" cx="59.5" cy="58">
		</ellipse>
	</svg>
	<img class="Grupo_de_mscara_52_Class" src="img/NossaEquipe/Grupo_de_mscara_52.png" srcset="img/NossaEquipe/Grupo_de_mscara_52.png 1x, Grupo_de_mscara_52@2x.png 2x">
	</svg>
	<img class="Grupo_de_mscara_53_Class" src="img/NossaEquipe/Grupo_de_mscara_53.png" srcset="img/NossaEquipe/Grupo_de_mscara_53.png 1x, Grupo_de_mscara_53@2x.png 2x">
	</svg>
	<img class="Grupo_de_mscara_54_Class" src="img/NossaEquipe/Grupo_de_mscara_54.png" srcset="img/NossaEquipe/Grupo_de_mscara_54.png 1x, Grupo_de_mscara_54@2x.png 2x">
	</svg>
	<svg class="Elipse_255">
		<ellipse class="Elipse_255_Class" rx="59.5" ry="58" cx="59.5" cy="58">
		</ellipse>
	</svg>
	<img class="Grupo_de_mscara_55_Class" src="img/NossaEquipe/Grupo_de_mscara_55.png" srcset="img/NossaEquipe/Grupo_de_mscara_55.png 1x, Grupo_de_mscara_55@2x.png 2x">
	</svg>
	<svg class="Elipse_257">
		<ellipse class="Elipse_257_Class" rx="59.5" ry="58" cx="59.5" cy="58">
		</ellipse>
	</svg>
	<img class="Grupo_de_mscara_56_Class" src="img/NossaEquipe/Grupo_de_mscara_56.png" srcset="img/NossaEquipe/Grupo_de_mscara_56.png 1x, Grupo_de_mscara_56@2x.png 2x">
	</svg>
	<svg class="Elipse_259">
		<ellipse class="Elipse_259_Class" rx="51.5" ry="50" cx="51.5" cy="50">
		</ellipse>
	</svg>
	<img class="Grupo_de_mscara_57_Class" src="img/NossaEquipe/Grupo_de_mscara_57.png" srcset="img/NossaEquipe/Grupo_de_mscara_57.png 1x, Grupo_de_mscara_57@2x.png 2x">
	</svg>
	<svg class="Elipse_261">
		<ellipse class="Elipse_261_Class" rx="51.5" ry="50" cx="51.5" cy="50">
		</ellipse>
	</svg>
	<img class="Grupo_de_mscara_58_Class" src="img/NossaEquipe/Grupo_de_mscara_58.png" srcset="img/NossaEquipe/Grupo_de_mscara_58.png 1x, Grupo_de_mscara_58@2x.png 2x">
	</svg>
	<div class="Julia_Romualdo_Class">
		<span>Julia Romualdo</span>
	</div>
	<div class="Giulia_Anjos_Class">
		<span>@Giulia Anjos</span>
	</div>
	<div class="Geovanna_Lima_Class">
		<span>@Geovanna Lima</span>
	</div>
	<div class="Igor_Mozetic_Class">
		<span>@Igor Mozetic</span>
	</div>
	<div class="Julia_Romualdo_cp_Class">
		<span>@Julia Romualdo</span>
	</div>
	<div class="Giulia_Anjos_cq_Class">
		<span>Giulia Anjos</span>
	</div>
	<div class="Igor_Mozetic_cr_Class">
		<span>Igor Mozetic</span>
	</div>
	<div class="Geovanna_Lima_cs_Class">
		<span>Geovanna Lima</span>
	</div>
	<svg class="Elipse_266">
		<ellipse class="Elipse_266_Class" rx="15" ry="14.5" cx="15" cy="14.5">
		</ellipse>
	</svg>
	<svg class="Elipse_270">
		<ellipse class="Elipse_270_Class" rx="6" ry="6" cx="6" cy="6">
		</ellipse>
	</svg>
	<svg class="Elipse_271">
		<ellipse class="Elipse_271_Class" rx="15" ry="14.5" cx="15" cy="14.5">
		</ellipse>
	</svg>
	<svg class="Elipse_272">
		<ellipse class="Elipse_272_Class" rx="6" ry="6" cx="6" cy="6">
		</ellipse>
	</svg>
	<svg class="Elipse_273">
		<ellipse class="Elipse_273_Class" rx="15" ry="14.5" cx="15" cy="14.5">
		</ellipse>
	</svg>
	<svg class="Caminho_41" viewBox="0 0 12 12">
		<path class="Caminho_41_Class" d="M 6 0 C 9.313708305358887 0 12 2.686291694641113 12 6 C 12 9.313708305358887 9.313708305358887 12 6 12 C 2.686291694641113 12 0 9.313708305358887 0 6 C 0 2.686291694641113 2.686291694641113 0 6 0 Z">
		</path>
	</svg>
	<svg class="Elipse_274">
		<ellipse class="Elipse_274_Class" rx="15" ry="14.5" cx="15" cy="14.5">
		</ellipse>
	</svg>
	<svg class="Caminho_42" viewBox="0 0 12 12">
		<path class="Caminho_42_Class" d="M 6 0 C 9.313708305358887 0 12 2.686291694641113 12 6 C 12 9.313708305358887 9.313708305358887 12 6 12 C 2.686291694641113 12 0 9.313708305358887 0 6 C 0 2.686291694641113 2.686291694641113 0 6 0 Z">
		</path>
	</svg>
	<div class="Feito_com_muito_amor_Class">
		<span>Feito com muito amor!!!</span>
	</div>
	<div class="E_pensar_que_tudo_isso_comeou__Class">
		<span>E pensar que tudo isso começou por conta de <br/>uma donça... Tô muito feliz!</span>
	</div>
	<div class="Estou_muito_orgulhoso_do_nosso_Class">
		<span>Estou muito orgulhoso do nosso trabalho :)</span>
	</div>
	<div class="Estou_muito_feliz_com_o_result_Class">
		<span>Estou muito feliz com o resultado, obrigada <br/>família HealthCare <3</span>
	</div>
	<svg class="Retngulo_28">
		<rect class="Retngulo_28_Class" rx="0" ry="0" x="0" y="0" width="1920" height="83">
		</rect>
	</svg>
	<div onclick="application.goToTargetView(event)" class="Doenas_Infecciosas_c_Class">
		<span>Doenças Infecciosas</span>
	</div>
	<div onclick="application.goToTargetView(event)" class="Doenas_Respiratrias_c_Class">
		<span>Doenças Respiratórias</span>
	</div>
	<div onclick="application.goToTargetView(event)" class="Transtornos_Mentais_c_Class">
		<span>Transtornos Mentais</span>
	</div>
	<div onclick="application.goToTargetView(event)" class="Perfil_Class">
		<span>Perfil</span>
	</div>
	<img class="Imagem_1_Class" src="img/NossaEquipe/Imagem_1.png" srcset="img/NossaEquipe/Imagem_1.png 1x, Imagem_1@2x.png 2x">
	<div onclick="application.goToTargetView(event)" class="Questionrio_Class">
		<span>Questionário</span>
	</div>
	<div onclick="application.goToTargetView(event)" class="Home_dc_Class">
		<span>Home</span>
	</div>
</div>
</body>
</html>