<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../../../img/favicon.ico" type="image/x-icon">
    <title>HealthCare</title>
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/slider.css">
    <link rel="stylesheet" href="../../../css/rodape.css">
	<link rel = "preconnect" href = "https://fonts.gstatic.com">
	<link href = "https://fonts.googleapis.com/css2? family = Open + Sans & display = swap" rel = "folha de estilo">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../../../css/Cadastro.css"/>
</head>
<body>
    <nav>
		<div onclick="application.goToTargetView(event)" class="Doenas_Infecciosas_cg_Class">
			<span><a href="../../Doencas/DoencasInfecciosas/Slider.html">Doenças Infecciosas</a></span>
		</div>
		<div onclick="application.goToTargetView(event)" class="Doenas_Respiratrias_ch_Class">
			<span><a href="../../Doencas/DoencasRespiratorias/Slider3.html">Doenças Respiratórias</a></span>
		</div>
		<div onclick="application.goToTargetView(event)" class="Transtornos_Mentais_ci_Class">
			<span><a href="../../Doencas/TranstornosMentais/Slider2.html">Transtornos Mentais</a></span>
		</div>
			<svg class="Retngulo_27">
				<rect class="Retngulo_27_Class" rx="5" ry="5" x="-411" y="0" width="103" height="11"></rect>
			</svg>
		<div class="Perfil_Class">
			<span><a href="../../DadosSite/Perfil.php">Perfil</a></span>
		</div>
		<img class="Imagem_1_Class" src="../../../img/Imagem_1.png">
		<div onclick="application.goToTargetView(event)" class="Questionrio_Class">
			<span><a href="../../DadosSite/EscolhaQuestionario.php">Questionário</a></span>
		</div>
		<div onclick="application.goToTargetView(event)" class="Home_cn_Class">
			<span><a href="../../../index.html">Home</a></span>
		</div>
    </nav>
    <div class = "container2">
        <div id="slider">
            <h1>Transtornos Mentais</h1>
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            <input type="radio" name="slider" id="slide4">
            <input type="radio" name="slider" id="slide5">
            <div id="slides">
            <div id="overflow">
                <div class="inner">
                    <div class="slide slide_1">
                        <div class="slide-content">
                            <h2>Ansiedade</h2>
                            <div class="col-9">
                                <div div-spy="scroll" data-target="#navbarVertical" data-offset="0" class="scrollspySite" align="justify">
                                    <h3>O que é?</h3>
                                    <h6>
                                        Ansiedade é um termo geral para vários distúrbios que causam nervosismo, medo, apreensão e preocupação.
                                    </h6>
                                    <h6>
                                        A ansiedade é uma reação que todo indivíduo experimenta diante de algumas situações do dia a dia, como falar em público, 
                                        expectativa para datas importantes, entrevistas de emprego, vésperas de provas, exames de saúde entre outras.
                                    </h6>
                                    <h6>
                                        Contudo, algumas pessoas vivenciam esta reação de forma mais frequente e intensa, que pode ser considerada patológica e comprometer a saúde emocional.
                                    </h6>
                                    <h3>Sintomas</h3>
                                    <h6>
                                        Veja quais são os principais sintomas que podem estar relacionados a transtornos de ansiedade e merecem atenção:
                                    </h6>
                                    <h6><li>Enxergar perigo em tudo;</li></h6>
                                    <h6><li>Apetite desregulado;</li></h6>
                                    <h6><li>Alterações de sono;</li></h6>
                                    <h6><li>Tensão Muscular;</li></h6>
                                    <h6><li> Medo de falar em público;</li></h6>
                                    <h6><li>Preocupações em excesso;</li></h6>
                                    <h6><li>Ficar sempre próximo de ataques de nervos;</li></h6>
                                    <h6><li>Medos irracionais;</li></h6>
                                    <h6><li>Inquietação constante;</li></h6>
                                    <h6><li>Sintomas físicos;</li></h6>
                                    <h6><li>Pensamentos obsessivos;</li></h6>
                                    <h6><li>Perfeccionismo;</li></h6>
                                    <h6> <li>Problemas digestivos.</li></h6>
                                    <h3>Como controlar</h3>
                                    <h6>
                                        Dicas práticas para controlar a ansiedade:
                                    </h6>
                                    <h6><li>Pratique atividades físicas;</li></h6>
                                    <h6><li>Reduza seu estresse diário;</li></h6>
                                    <h6><li>Experimente controlar a respiração;</li></h6>
                                    <h6><li>Evite pensamentos negativos;</li></h6>
                                    <h6><li>Invista em alimentos com triptofano;</li></h6>
                                    <h6><li>Tome um chá;</li></h6>
                                    <h6><li>Mantenha foco de atenção no presente;</li></h6>
                                    <h6><li>Seja mais organizado;</li></h6>
                                    <h6><li>Esteja com quem você ama;</li></h6>
                                    <h6><li>Dedique tempo para se cuidar;</li></h6>
                                    <h6><li>Cuide dos seus pensamentos para sorrir mais;</li></h6>
                                    <h6><li>Confie mais em si mesmo;</li></h6>
                                    <h6><li>Desenvolva congruência;</li></h6>
                                    <h6><li>Fortaleça o autoconhecimento;</li></h6>
                                    <h6><li>Cuide bem do seu momento antes de dormir.</li></h6>
                                    <h3>Tratamento</h3>
                                    <h6>
                                        Caso a ansiedade excessiva esteja relacionada a uma doença física, seu tratamento adequado já trará alívio dos sintomas.
                                    </h6>
                                    <h6>
                                        No entanto, se o paciente sofre de algum transtorno de ansiedade, o tratamento pode envolver diversas abordagens, as mais recomendadas, são:
                                    </h6>
                                    <h6><li>Psicoterapia</li></h6>
                                    <h6><li>Remédios para ansiedade (Antidepressivos,Ansiolíticos,Antipsicóticos)</li></h6>
                                    </h6>
                                </div>
                                <img src="../../../img/ansiedade.png" align ="right" height="300" width="600" id="imgansiedade">
                            </div>
                        </div>
                    </div>
                    <div class="slide slide_2">
                        <div class="slide-content">
                            <h2>Depressão</h2>
                            <div class="col-9">
                                <div div-spy="scroll" data-target="#navbarVertical" data-offset="0" class="scrollspySite" align="justify">
                                    <h3>O que é?</h3>
                                    <h6>
                                        Depressão ou transtorno depressivo maior é uma doença comum e séria que afeta negativamente como você se sente, como pensa e como age. Contudo, 
                                        felizmente também é tratável. A depressão provoca sentimentos de tristeza e/ou perda de interesse em atividades que em momentos anteriores traziam prazer.
                                    </h6>
                                    <h3>Sintomas</h3>
                                    <h6>
                                        Os sintomas de depressão podem variar de leves a graves e podem incluir:
                                    </h6>
                                    <h6><li>Tristeza ou com um humor deprimido;</li></h6>
                                    <h6><li>Perda de interesse ou prazer em atividades antes apreciadas;</li></h6>
                                    <h6><li>Alterações no apetite – perda de peso ou ganho não relacionado à dieta;</li></h6>
                                    <h6><li>Problemas para dormir (insônia) ou dormir demais;</li></h6>
                                    <h6><li>Perda de energia ou aumento da fadiga;</li></h6>
                                    <h6><li>Baixa autoestima e presença de sentimentos de culpa;</li></h6>
                                    <h6><li>Dificuldade para pensar, concentrar ou tomar decisões;</li></h6>
                                    <h6><li>Pensamentos de morte ou suicídio.</li></h6>
                                    <h6>
                                        Os sintomas devem durar pelo menos duas semanas para um diagnóstico de depressão.Além disso, condições médicas (por exemplo, problemas de tireoide, 
                                        um tumor cerebral ou deficiência de vitamina) podem imitar sintomas de depressão, por isso é importante descartar causas médicas gerais.  
                                    </h6>                                      
                                    <h3>Prevenção</h3>
                                    <h6><li>Dormir bem: quanto melhor é a noite de sono, ficamos menos propensos a desenvolver depressão;</li></h6>

                                    <h6><li>Exercitar-se: 30 minutos de exercícios físicos moderados aumentam os níveis de substâncias ligadas à sensação de bem-estar;</li></h6>
                                        
                                    <h6><li>Meditar: como a meditação ativa áreas do cérebro ligadas à felicidade, também é uma arma importante contra ansiedade e depressão;</li></h6>
                                        
                                    <h6><li>Encontrar uma paixão: hobbies ou atividades que dão extremo prazer ajudam a atravessar fases difíceis, pois são motivadoras e proporcionam realização pessoal;</li></h6>
                                        
                                    <h6><li>Controlar as taxas de açúcar: corpo e mente estão intimamente ligados. Quedas e altas na taxa de açúcar no organismo têm a capacidade de 
                                        alterar o nosso humor. Se isso ocorrer repetidamente, pode levar a um quadro de depressão.
                                    </li></h6>
                                    <h3>Tratamento</h3>
                                    <h6><li>Psicoterapia, em casos de depressão leve, somente a psicoterapia pode ser um tratamento eficaz para a doença;</li></h6> 
                                    <h6><li>Medicação;</li></h6> 
                                    <h6><li>Experiência interativa deprexis;</li></h6>
                                    <h6><li>Tratamentos naturais;</li></h6> 
                                    <h6><li>Tratamentos alternativos;</li></h6>
                                    <h6><li>Eletrochoques.</li></h6>
                                        </h6>
                                    </h6>
                                </div>
                                <img src="../../../img/depr.png" align ="right" height="480" width="450" id="imgdepr">
                            </div>
                        </div>
                    </div>
                    <div class="slide slide_3">
                        <div class="slide-content">
                            <h2>Síndrome do Pânico</h2>
                            <div class="col-9">
                                <div div-spy="scroll" data-target="#navbarVertical" data-offset="0" class="scrollspySite" align="justify">
                                    <h3>O que é?</h3>
                                    <h6> 
                                        A Síndrome do pânico é um dos transtornos de ansiedade mais comum. É geralmente diagnosticado em pessoas que experimentam ataques de medo e pânico espontâneos,
                                        repentinos e inesperados.
                                    </h6>
                                    <h6>
                                        Os episódios de síndrome do pânico são marcados por crises de ansiedade quase que inexplicáveis, que podem estar associados a sintomas físicos semelhantes ao de 
                                        um ataque cardíaco. Assim, estima-se que 3% dos brasileiros experimentem pelo 1 episódio por ano.
                                    </h6>
                                    <h6>
                                        Os indivíduos com este quadro, em geral, permanecem constantemente preocupados com o medo de um ataque recorrente. Contudo, os ataques de pânico ocorrem 
                                        inesperadamente, às vezes até durante o sono.
                                    </h6>
                                    <h6>
                                        Ataques de pânico: Um ataque de pânico pode acontecer em qualquer lugar, a qualquer momento. O sujeito sente-se aterrorizado e sobrecarregado, mesmo que 
                                        não esteja em perigo. Assim, trata-se de um início abrupto de medo ou desconforto intenso que atinge o pico em poucos minutos.
                                    </h6>
                                    <h3>Sintomas</h3>
                                    <h6>
                                        A síndrome do pânico inclui pelo menos quatro dos seguintes sintomas:
                                    </h6>
                                    <h6><li>Palpitações, coração batendo ou aceleração cardíaca;</li></h6>
                                    <h6><li> Sudorese;</li></h6>
                                    <h6><li>Tremores ou estremecimentos;</li></h6>
                                    <h6><li>Sensações de falta de ar ou sufocação;</li></h6>
                                    <h6><li>Sentimentos de bloqueio;</li></h6>
                                    <h6><li> Dor no peito ou desconforto;</li></h6>
                                    <h6><li>Náuseas ou desconforto abdominal;</li></h6>
                                    <h6><li>Sentir-se tonto, instável, com cabeça leve ou desmaiar;</li></h6>
                                    <h6><li>Calafrios ou sensações de calor;</li></h6>
                                    <h6><li>Parestesia (sensações de dormência ou formigamento);</li></h6>
                                    <h6><li>Desrealização (sentimentos de irrealidade) ou despersonalização (sendo separado de si mesmo);</li></h6>
                                    <h6><li>Medo de perder o controle ou “enlouquecer”;</li></h6>
                                    <h6><li> Medo de morrer.</li></h6>
                                    </h6>
                                    <h3>Prevenção</h3>
                                    <h6> 
                                        No momento em que está começando o ataque:
                                    </h6>
                                    <h6><li>Ao começar a sentir levemente os sintomas, procure um lugar fresco e que sinta seguro;</li></h6>
                                    <h6><li>Nunca saia correndo, não faça nada que alimente mais seu desespero;</li></h6>
                                    <h6><li>Sente-se ou fique agachado, como lhe parecer mais confortável;</li></h6>
                                    <h6><li>A respiração é sua aliada, inspire profundamente e solte lentamente pela boca, faça isso por alguns minutos;</li></h6>
                                    <h6><li>Procure manter a calma, desvie seu pensamento para outro assunto;</li></h6>
                                    <h6><li>Pensar em soluções de assuntos que deixou pendente é também uma forma de distração;</li></h6>
                                    <h6><li>Use seus sentidos: observe o que acontece a sua volta, algum aroma que chame sua atenção, um som, algo que possa tocar;</li></h6>
                                    <h6><li>Se você já está em tratamento, tome os medicamentos prescritos pelos profissionais.</li></h6>
                                    <h6>Prevenção antes de qualquer problema:</h6>
                                    <h6><li>Aprenda a praticar atividades que ensinem o relaxamento, como Yoga e Pilates;</li></h6>
                                    <h6><li>Procure não se estressar;</li></h6>
                                    <h6><li>Evite locais muito lotados que te causam desconforto;</li></h6>
                                    <h6><li>Tome muito cuidado com bebidas que estimulem o sistema nervoso como álcool e bebidas com cafeína.</li></h6>
                                                                              
                                    </h6>
                                    <h3>Tratamento</h3>
                                    <h6>
                                        A maioria das pessoas encontra melhora significativa com o processo de psicoterapia. O sucesso do tratamento varia entre as pessoas. 
                                        Alguns podem responder ao tratamento após alguns meses, enquanto outras pessoas podem precisar de mais de um ano.
                                    </h6>
                                    <h6>
                                        Entretanto, o tratamento pode ser mais extenso se uma pessoa tiver mais de um transtorno de ansiedade ou sofrer de depressão ou abuso de substâncias, 
                                        razão pela qual deve ser adaptado ao indivíduo.
                                    </h6>
                                    <h6>
                                        Embora a psicoterapia seja um processo eficaz, em alguns casos os profissionais podem recomendar um trabalho multidisciplinar. Psicólogos e
                                        médicos psiquiatras costumam atuar em conjunto, utilizando uma combinação entre psicoterapia e medicação.
                                    </h6>
                                </div>
                                <img src="../../../img/sin.png" align ="right" height="400" width="680" id="imgsin">
                            </div>
                        </div>
                    </div>
                    <div class="slide slide_4">
                        <div class="slide-content">
                            <h2>Transtorno Bipolar</h2>
                            <div class="col-9">
                                <div div-spy="scroll" data-target="#navbarVertical" data-offset="0" class="scrollspySite" align="justify">
                                    <h3>O que é?</h3>
                                    <h6> 
                                        O transtorno bipolar, também conhecido como doença maníaco-depressiva, é um transtorno cerebral que causa mudanças incomuns no humor, na energia, 
                                        nos níveis de atividade e na capacidade de realizar as tarefas do dia-a-dia.
                                    </h6>
                                    <h6>
                                        Tipos de Transtorno Bipolar:
                                    </h6>
                                    <h6>
                                       <li><u>Transtorno Bipolar I</u>: Definido por episódios maníacos que duram pelo menos 7 dias, ou por sintomas maníacos que são tão graves que a pessoa 
                                        precisa de cuidados hospitalares imediatos. Geralmente, episódios depressivos ocorrem também, episódios com depressão e sintomas maníacos ao mesmo 
                                        tempo também são possíveis.</li>
                                    </h6>
                                     <h6>
                                        <li><u>Transtorno Bipolar II</u>: Definido por um padrão de episódios depressivos e episódios hipomaníacos (períodos maníacos menos severos).</li>
                                    </h6>
                                    <h6>
                                        <li><u>Desordem ciclotímica (ciclotimia)</u>: Definida por numerosos períodos de sintomas hipomaníacos, bem como inúmeros períodos de sintomas 
                                        depressivos de pelo menos 2 anos (1 ano em crianças e adolescentes). No entanto, os sintomas não atendem aos requisitos diagnósticos para um episódio
                                        hipomaníaco e um episódio depressivo.</li>
                                    </h6>
                                    <h6>
                                        <li><u>Outros Transtornos Bipolares e Relacionados Especificados e Não Especificados</u>: Definidos por sintomas de transtorno bipolar que não correspondem 
                                        às três categorias listadas acima.</li>
                                    </h6>
                                    <h3>Sintomas</h3>
                                    <h6><li>Depressão</li></h6>
                                    <h6><li>
                                        Mania: estado de euforia exuberante, com valorização da autoestima e da autoconfiança, pouca necessidade de sono, agitação psicomotora, descontrole ao coordenar as
                                        ideias, desvio da atenção, compulsão para falar, aumento da libido, irritabilidade e impaciência crescentes, comportamento agressivo, mania de grandeza. Nessa fase, 
                                        o paciente pode tomar atitudes que reverterão em danos a si próprio e às pessoas próximas, como demissão do emprego, gastos descontrolados de dinheiro, envolvimentos 
                                        afetivos apressados, atividade sexual aumentada e, em casos mais graves, delírios e alucinações.
                                    </li></h6>
                                    <h6><li>
                                        Hipomania: os sintomas são semelhantes aos da mania, porém bem mais leves e com menor repercussão sobre as atividades e relacionamentos do paciente, que 
                                        se mostra mais eufórico, mais falante, sociável e ativo do que o habitual. Em geral, a crise é breve, dura apenas uns poucos dias. Para efeito de diagnóstico, 
                                        é preciso assegurar que a reação não foi induzida pelo uso de antidepressivos.
                                    </li></h6>
                                    </h6>
                                    <h3>Prevenção</h3>
                                    <h6>
                                        Para que a pessoa com transtorno bipolar viva normalmente controlando a sua doença sem apresentar sintomas, deve tomar regularmente os medicamentos na hora e na
                                         dose prescrita pelo médico, evitar consumir bebidas alcoólicas e não consumir drogas.
                                    </h6>
                                    <h3>Tratamento</h3>
                                    <h6>
                                        Um plano de tratamento eficaz geralmente inclui uma combinação de medicação e psicoterapia. O transtorno bipolar é uma doença vitalícia. Episódios de mania e depressão
                                        costumam voltar ao longo do tempo. Entre os episódios, muitas pessoas com transtorno bipolar podem se ver livres de mudanças de humor, mas algumas pessoas podem ter 
                                        sintomas persistentes. A longo prazo, o tratamento contínuo ajuda a controlar estes sintomas.
                                    </h6>
                                </div>
                                <img src="../../../img/bip.png" align ="right" height="300" width="400" id="imgbip">
                            </div>
                        </div>
                    </div>
                    <div class="slide slide_5">
                        <div class="slide-content">
                            <h2>Transtorno Obsessivo Compulsivo (TOC)</h2>
                            <div class="col-9">
                                <div div-spy="scroll" data-target="#navbarVertical" data-offset="0" class="scrollspySite" align="justify">
                                    <h3>O que é?</h3>
                                    <h6>
                                        O Transtorno Obsessivo-Compulsivo (TOC) é um transtorno comum, crônico e duradouro. É caracterizado pela presença de obsessões e/ou compulsões.
                                    </h6>
                                    <h6>
                                        Obsessões são pensamentos, impulsos ou imagens recorrentes e persistentes que são vivenciados como intrusivos e indesejados. Compulsões são comportamentos repetitivos ou atos mentais em que um indivíduo se sente compelido a executar em resposta a uma obsessão ou de acordo com regras que devem ser aplicadas rigidamente.
                                    </h6>
                                    <h3>Sintomas</h3>
                                    <h6>
                                        Obsessões, são pensamentos repetidos, impulsos ou imagens mentais que causam ansiedade. Os sintomas comuns incluem:
                                    </h6>
                                    <h6><li>Medo de germes ou contaminação, lavando as mãos excessivamente;</li></h6>
                                    <h6><li>Preocupar-se excessivamente com limpeza;</li></h6>
                                    <h6><li>Revisar diversas vezes portas, janelas, gás ou o ferro de passar roupas antes de sair de casa ou dormir;</li></h6>
                                    <h6><li>Pensamentos proibidos ou indesejados envolvendo sexo, religião e danos;</li></h6>
                                    <h6><li>Pensamentos agressivos em relação aos outros ou a si próprio;</li></h6>
                                    <h6><li>Ter coisas simétricas ou em uma ordem perfeita.</li></h6>
                                    <h6>
                                        Compulsões, são comportamentos repetitivos que uma pessoa com TOC sente o desejo de fazer em resposta a um pensamento obsessivo. As compulsões comuns incluem:
                                    </h6>
                                    <h6><li> Limpeza excessiva e / ou lavagem das mãos;</li></h6>
                                    <h6><li>Ordenação e organização das coisas de uma maneira específica e precisa;</li></h6>
                                    <h6><li>Repetidamente verificar as coisas, tais como verificar repetidamente para ver se a porta está bloqueada ou que o forno está desligado;</li></h6>
                                    <h6><li>Contagem Compulsiva.</li></h6>
                                    <h3>Causas</h3>
                                    <h6>
                                        As causas do TOC não estão bem esclarecidas. Certamente, trata-se de um problema multifatorial. Estudos sugerem a existência de alterações na 
                                        comunicação entre determinadas zonas cerebrais que utilizam a serotonina. Fatores psicológicos e histórico familiar também estão entre as possíveis 
                                        causas desse distúrbio de ansiedade.
                                    </h6>
                                    <h3>Tratamento</h3>
                                    <h6>
                                        O Transtorno Obsessivo Compulsivo é tipicamente tratado com medicação, psicoterapia ou uma combinação dos dois. Embora a maioria dos pacientes com TOC
                                        responda bem ao tratamento, alguns pacientes continuam sentindo os sintomas.
                                    </h6>
                                    <h6>
                                        Às vezes, as pessoas com TOC também têm outros distúrbios mentais, como ansiedade ou depressão. Podem acreditar equivocadamente que uma parte de seu corpo é anormal.
                                        É importante considerar esses outros distúrbios ao tomar decisões sobre o tratamento. Além disso, é muito importante saber como escolher um bom psicólogo.
                                    </h6>
                                </div>
                                <img src="../../../img/toc.png" align ="right" height="300" width="500" id="imgtoc">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
            <div id="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
            <label for="slide5"></label>
            </div>
            <div id="bullets">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
            <label for="slide5"></label>
            </div>
        </div>
    </div>
    </br>
    <section class="footer">
		<div class="container5">
			<ul>
				<li class="grid-9"><img src="../../../img/logo.png" class="imgLogo">
					<h6>©2021 HealthCare </h6>
					<h6>Todos os direitos reservados</h6>
				</li>
				<li class="grid-5"><h2>Home</h2>
					<p><a href="../../Doencas/DoencasRespiratorias/Slider3.html">Doenças Respiratórias</a></p>
					<p><a href="../../Doencas/DoencasInfecciosas/Slider.html">Doenças Infecciosas</a></p>
					<p><a href="../../Doencas/TranstornosMentais/Slider2.html">Transtornos Mentais</a></p>
				</li>
				<li class="grid-5"><h2>Contato</h2>
					<p>healthcareequipe@gmail.com</p>
					<p>(11)2222-2222</p>
				</li>
				<li class="grid-5"><h2>Social</h2>
                    <p><a href="https://www.instagram.com/sitehealthcare/?hl=pt-br"><i class="fab fa-instagram fa-1x"></i>Instagram</a></p>
                    <p><a href="https://twitter.com/HealthCarEquipe"><i class="fab fa-twitter fa-1x"></i>Twitter</a></p>
                    <p><a href="https://www.facebook.com/HealthCare-107009071430155"><i class="fab fa-facebook fa-1x"></i>Facebook</a></p>
				</li>
				<li class="grid-4"><h2>Sobre</h2>
                    <p><a href="#" class="politica" data-toggle="modal" data-target="#siteModal">Política de Privacidade</a></p>
                    <div class="modal fade" id="siteModal" tabindex="-1" role="dialog">
                       <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Política de Privacidade</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        A sua privacidade é importante para nós. É política do HealthCare respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site 
                                        <a href=https://healthcare.com.br>HealthCare</a>, e outros sites que possuímos e operamos.
                                    </p>                    
                                    <p>
                                        Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. 
                                        Também informamos por que estamos coletando e como será usado.
                                    </p>                    
                                    <p>
                                        Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para 
                                        evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.
                                    </p>                  
                                    <p>
                                        Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.
                                    </p>                    
                                    <p>
                                        O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar 
                                        responsabilidade por suas respectivas 
                                        <a href='https://politicaprivacidade.com' target='_BLANK'>políticas de privacidade</a>.
                                    </p>                      
                                    <p>
                                        Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.
                                    </p>                    
                                    <p>
                                        O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com
                                        dados do usuário e informações pessoais, entre em contato conosco.
                                    </p>                  
                                    <h2>Política de Cookies HealthCare</h2>                    
                                    <h3>O que são cookies?</h3>                    
                                    <p>
                                        Como é prática comum em quase todos os sites profissionais, este site usa cookies, que são pequenos arquivos baixados no seu computador, para melhorar sua experiência. 
                                        Esta página descreve quais informações eles coletam, como as usamos e por que às vezes precisamos armazenar esses cookies. Também compartilharemos como você pode impedir 
                                        que esses cookies sejam armazenados, no entanto, isso pode fazer o downgrade ou 'quebrar' certos elementos da funcionalidade do site.
                                    </p>                    
                                    <h3>Como usamos os cookies?</h3>                    
                                    <p>
                                        Utilizamos cookies por vários motivos, detalhados abaixo. Infelizmente, na maioria dos casos, não existem opções padrão do setor para desativar os cookies sem 
                                        desativar completamente a funcionalidade e os recursos que eles adicionam a este site. É recomendável que você deixe todos os cookies se não tiver certeza se precisa ou 
                                        não deles, caso sejam usados ​​para fornecer um serviço que você usa.
                                    </p>                   
                                    <h3>Desativar cookies</h3>                    
                                    <p>
                                        Você pode impedir a configuração de cookies ajustando as configurações do seu navegador (consulte a Ajuda do navegador para saber como fazer isso). Esteja ciente de que a 
                                        desativação de cookies afetará a funcionalidade deste e de muitos outros sites que você visita. A desativação de cookies geralmente resultará na desativação de determinadas 
                                        funcionalidades e recursos deste site. Portanto, é recomendável que você não desative os cookies.
                                    </p>                    
                                    <h3>Cookies que definimos</h3>                    
                                    <ul>                        
                                        <li>
                                            Cookies relacionados à conta<br><br> 
                                            Se você criar uma conta connosco, usaremos cookies para o gerenciamento do processo de inscrição e administração geral.  Esses cookies geralmente serão excluídos quando 
                                            você sair do sistema, porém, em alguns  casos, eles poderão permanecer posteriormente para lembrar as preferências do seu site ao sair.<br><br>                        
                                        </li>                       
                                        <li>
                                            Cookies relacionados ao login<br><br> 
                                            Utilizamos cookies quando você está logado, para que possamos lembrar dessa ação. Isso evita que você precise fazer login sempre que visitar uma nova página. 
                                            Esses cookies são normalmente removidos ou limpos quando você efetua logout para garantir que você possa acessar apenas a recursos e áreas restritas ao efetuar login.<br><br>                        
                                        </li>                        
                                        <li> 
                                            Cookies relacionados a boletins por e-mail<br><br> 
                                            Este site oferece serviços de assinatura de boletim informativo ou e-mail e os cookies podem ser usados ​​para lembrar se você já está registrado e se deve mostrar 
                                            determinadas notificações válidas apenas para usuários inscritos / não inscritos.<br><br>                        
                                        </li>                        
                                        <li> 
                                            Pedidos processando cookies relacionados<br><br> 
                                            Este site oferece facilidades de comércio eletrônico ou pagamento e alguns cookies são essenciais para garantir que seu pedido seja lembrado entre as páginas, 
                                            para que possamos processá-lo adequadamente.<br><br>                        
                                        </li>                        
                                        <li>
                                            Cookies relacionados a pesquisas<br><br> 
                                            Periodicamente, oferecemos pesquisas e questionários para fornecer informações interessantes, ferramentas úteis ou para entender nossa base de usuários com mais precisão. 
                                            Essas pesquisas podem usar cookies para lembrar quem já participou numa pesquisa ou para fornecer resultados precisos após a alteração das páginas.<br><br>                        
                                        </li>                        
                                        <li>
                                            Cookies relacionados a formulários<br><br> 
                                            Quando você envia dados por meio de um formulário como os encontrados nas páginas de contacto ou nos formulários de comentários, os cookies podem ser configurados para 
                                            lembrar os detalhes do usuário para correspondência futura.<br><br>                        
                                        </li>                        
                                        <li>
                                            Cookies de preferências do site<br><br> 
                                            Para proporcionar uma ótima experiência neste site, fornecemos a funcionalidade para definir suas preferências de como esse site é executado quando você o usa. 
                                            Para lembrar suas preferências, precisamos definir cookies para que essas informações possam ser chamadas sempre que você interagir com uma página for afetada por suas 
                                            preferências.<br>                       
                                        </li>                    
                                    </ul>                   
                                    <h3>Cookies de Terceiros</h3>                    
                                    <p>
                                        Em alguns casos especiais, também usamos cookies fornecidos por terceiros confiáveis. A seção a seguir detalha quais cookies de terceiros você pode encontrar através deste site.
                                    </p>                    
                                    <ul>                        
                                        <li> 
                                            Este site usa o Google Analytics, que é uma das soluções de análise mais difundidas e confiáveis ​​da Web, para nos ajudar a entender como você usa o site e como podemos
                                            melhorar sua experiência. Esses cookies podem rastrear itens como quanto tempo você gasta no site e as páginas visitadas, para que possamos continuar produzindo conteúdo 
                                            atraente.                        
                                        </li>                    
                                    </ul>                    
                                    <p>
                                        Para mais informações sobre cookies do Google Analytics, consulte a página oficial do Google Analytics.
                                    </p>                    
                                    <ul>                        
                                        <li> 
                                            As análises de terceiros são usadas para rastrear e medir o uso deste site, para que possamos continuar produzindo conteúdo atrativo. Esses cookies podem rastrear 
                                            itens como o tempo que você passa no site ou as páginas visitadas, o que nos ajuda a entender como podemos melhorar o site para você.
                                        </li>                        
                                        <li>
                                            Periodicamente, testamos novos recursos e fazemos alterações subtis na maneira como o site se apresenta. Quando ainda estamos testando novos recursos, esses cookies podem 
                                            ser usados ​​para garantir que você receba uma experiência consistente enquanto estiver no site, enquanto entendemos quais otimizações os nossos usuários mais apreciam.          
                                        </li>                        
                                        <li>
                                            À medida que vendemos produtos, é importante entendermos as estatísticas sobre quantos visitantes de nosso site realmente compram e, portanto, esse é o tipo de dados 
                                            que esses cookies rastrearão. Isso é importante para você, pois significa que podemos fazer previsões de negócios com precisão que nos permitem analizar nossos custos 
                                            de publicidade e produtos para garantir o melhor preço possível.
                                        </li>                                           
                                    </ul>                    
                                    <h3>Compromisso do Usuário</h3>                                
                                    <p>
                                        O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o HealthCare oferece no site e com caráter enunciativo, mas não limitativo:
                                    </p>                                        
                                    <ul>                        
                                        <li>
                                            A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;
                                        </li>                        
                                        <li>
                                            B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, ou sobre cassinos, apostas online (ex.: ESC Online), jogos de sorte e azar, qualquer tipo 
                                            de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;
                                        </li>                        
                                        <li>
                                            C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do HealthCare, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus 
                                            informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.
                                        </li>                    
                                    </ul>                                        
                                    <h3>Mais informações</h3>                    
                                    <p>
                                        Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os 
                                        cookies ativados, caso interaja com um dos recursos que você usa em nosso site.
                                    </p>                    
                                    <p>
                                        Esta política é efetiva a partir de <strong>February</strong>/<strong>2021</strong>.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button> 
                                </div>
                            </div>
                       </div>
                   </div>
                   <p><a href="../../DadosSite/NossaEquipe.html">Nossa Equipe</a></p>  
				</li>
            </ul>
		</div>
	</section>
    <script src="https://kit.fontawesome.com/3eecc79a6a.js" crossorigin="anonymous"></script>
    <script src="../../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../../node_modules/popper.js/dist/popper.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    
</body>
</html>